body{
	background-color: #b30000;
}

.title{
	float: left;
	position: absolute;
	padding-right: 600px;
}

/*.tab{
	padding-top: 40%;
}
*/
table, th, td {
    border: 1px solid black;
    /*border-collapse: collapse;*/
    color: red;
}
th, td {
	color: #fff;
    padding: 5px;
    text-align: left;
}
table#t01 {
    width: 100%;    
    /*background-color: #f1f1c1;*/
}

#grand{
	float: left;
	width: 50%;
	color: #fff;
}
